<h1>Welcome {{user.name}}!</h1>
<h2>Your cooking preferences</h2>
<br>
<form>
    <div class="form-container">
        <div class="kitchen_tools">
            <h3>Your kitchen :</h3>
            <div class="kitchen-container">
                    <p>Stove :</p>
                    <div>
                        <input type="radio" id="stove_yes" class="check_yes" name="has_stove" value="yes">
                        <label class="form-control" for="stove">yes</label>
                        <input type="radio" id="stove_no" class="check_no" name="has_stove" value="no">
                        <label class="form-control" for="stove">no</label>
                    </div><br><br>
                    <p>Oven :</p>
                    <div>
                        <input type="radio" id="oven_yes" class="check_yes" name="has_oven" value="yes">
                        <label class="form-control" for="oven">yes</label>
                        <input type="radio" id="oven_no" class="check_no" name="has_oven" value="no">
                        <label class="form-control" for="oven">no</label>
                    </div><br><br>
                    <p>Pot :</p>
                    <div>
                        <input type="radio" id="pot_yes" class="check_yes" name="has_pot" value="yes">
                        <label class="form-control" for="pot">yes</label>
                        <input type="radio" id="pot_no" class="check_no" name="has_pot" value="no">
                        <label class="form-control" for="pot">no</label>
                    </div><br><br>
                    <p>Pan :</p>
                    <div>
                        <input type="radio" id="pan_yes" class="check_yes" name="has_pan" value="yes">
                        <label class="form-control" for="pan">yes</label>
                        <input type="radio" id="pan_no" class="check_no" name="has_pan" value="no">
                        <label class="form-control" for="pan">no</label>
                    </div><br><br>
                    <p>Kettle :</p>
                    <div>
                        <input type="radio" id="kettle_yes" class="check_yes" name="has_kettle" value="yes">
                        <label class="form-control" for="kettle">yes</label>
                        <input type="radio" id="kettle_no" class="check_no" name="has_kettle" value="no">
                        <label class="form-control" for="kettle">no</label>
                    </div><br><br>
                </div>
            </div>

        <div class="allergies">
            <h3>Your allergies :</h3>
            <div class="allergies-container">
                <p>Milk :</p>
                <div>
                    <input type="radio" id="milk_yes" class="check_yes" name="allergy_milk" value="yes">
                    <label class="form-control" for="milk">yes</label>
                    <input type="radio" id="milk_no" class="check_no" name="allergy_milk" value="no">
                    <label class="form-control" for="milk">no</label>
                </div><br><br>
                <p>Tree Nuts :</p>
                <div>
                    <input type="radio" id="treenuts_yes" class="check_yes" name="allergy_treenuts" value="yes">
                    <label class="form-control" for="treenuts">yes</label>
                    <input type="radio" id="treenuts_no" class="check_no" name="allergy_treenuts" value="no">
                    <label class="form-control" for="treenuts">no</label>
                </div><br><br>
                <p>Eggs :</p>
                <div>
                    <input type="radio" id="eggs_yes" class="check_yes" name="allergy_eggs" value="yes">
                    <label class="form-control" for="eggs">yes</label>
                    <input type="radio" id="eggs_no" class="check_no" name="allergy_eggs" value="no">
                    <label class="form-control" for="eggs">no</label>
                </div><br><br>
                <p>Peanuts :</p>
                <div>
                    <input type="radio" id="peanuts_yes" class="check_yes" name="allergy_peanuts" value="yes">
                    <label class="form-control" for="peanuts">yes</label>
                    <input type="radio" id="peanuts_no" class="check_no" name="allergy_peanuts" value="no">
                    <label class="form-control" for="peanuts">no</label>
                </div><br><br>
                <p>Fish :</p>
                <div>
                    <input type="radio" id="fish_yes" class="check_yes" name="allergy_fish" value="yes">
                    <label class="form-control" for="fish">yes</label>
                    <input type="radio" id="fish_no" class="check_no" name="allergy_fish" value="no">
                    <label class="form-control" for="fish">no</label>
                </div><br><br>
                <p>Shellfish :</p>
                <div>
                    <input type="radio" id="shellfish_yes" class="check_yes" name="allergy_shellfish" value="yes">
                    <label class="form-control" for="shellfish">yes</label>
                    <input type="radio" id="shellfish_no" class="check_no" name="allergy_shellfish" value="no">
                    <label class="form-control" for="shellfish">no</label>
                </div><br><br>
                <p>Wheat :</p>
                <div>
                    <input type="radio" id="wheat_yes" class="check_yes" name="allergy_wheat" value="yes">
                    <label class="form-control" for="wheat">yes</label>
                    <input type="radio" id="wheat_no" class="check_no" name="allergy_wheat" value="no">
                    <label class="form-control" for="wheat">no</label>
                </div><br><br>
                <p>Soybeans :</p>
                <div>
                    <input type="radio" id="soybeans_yes" class="check_yes" name="allergy_soybeans" value="yes">
                    <label class="form-control" for="soybeans">yes</label>
                    <input type="radio" id="soybeans_no" class="check_no" name="allergy_soybeans" value="no">
                    <label class="form-control" for="soybeans">no</label>
                </div><br><br>
            </div>
        </div>
    </div>
    <input type="submit" value="Save">
</form>

<script>
    // keep the radio button checked
    document.getElementById('stove_' + "{{preferences.has_stove}}").checked = true
    document.getElementById('oven_' + "{{preferences.has_oven}}").checked = true
    document.getElementById('pot_' + "{{preferences.has_pot}}").checked = true
    document.getElementById('pan_' + "{{preferences.has_pan}}").checked = true
    document.getElementById('kettle_' + "{{preferences.has_kettle}}").checked = true
    document.getElementById('milk_' + "{{preferences.allergy_milk}}").checked = true
    document.getElementById('treenuts_' + "{{preferences.allergy_treenuts}}").checked = true
    document.getElementById('eggs_' + "{{preferences.allergy_eggs}}").checked = true
    document.getElementById('peanuts_' + "{{preferences.allergy_peanuts}}").checked = true
    document.getElementById('fish_' + "{{preferences.allergy_fish}}").checked = true
    document.getElementById('shellfish_' + "{{preferences.allergy_shellfish}}").checked = true
    document.getElementById('wheat_' + "{{preferences.allergy_wheat}}").checked = true
    document.getElementById('soybeans_' + "{{preferences.allergy_soybeans}}").checked = true
</script>