<h1>Welcome <safrican style="text-decoration: underline;">{{user.name}}</safrican>!</h1>
<h2>Your cooking preferences</h2>
<br>
<form class="preferences-form">
    <div class="form-container">
        <div class="regional_preferences">
            <h3>Your preferences :</h3>
            <div class="regional-container">
                <div>
                    <p>Asian food :</p>
                    <div class="radio-container">
                        <input type="radio" id="asian_yes" class="check_yes" name="likes_asian" value="yes">
                        <label class="form-control" for="asian">yes</label>
                        <input type="radio" id="asian_no" class="check_no" name="likes_asian" value="no">
                        <label class="form-control" for="asian">no</label>
                    </div>
                </div>
                <div>
                    <p>North American food :</p>
                    <div class="radio-container">
                        <input type="radio" id="north_american_yes" class="check_yes" name="likes_north_american" value="yes">
                        <label class="form-control" for="north_american">yes</label>
                        <input type="radio" id="north_american_no" class="check_no" name="likes_north_american" value="no">
                        <label class="form-control" for="north_american">no</label>
                    </div>
                </div>
                <div>
                    <p>South American food :</p>
                    <div class="radio-container">
                        <input type="radio" id="south_american_yes" class="check_yes" name="likes_south_american" value="yes">
                        <label class="form-control" for="south_american">yes</label>
                        <input type="radio" id="south_american_no" class="check_no" name="likes_south_american" value="no">
                        <label class="form-control" for="south_american">no</label>
                    </div>
                </div>
                <div>
                    <p>African food :</p>
                    <div class="radio-container">
                        <input type="radio" id="african_yes" class="check_yes" name="likes_african" value="yes">
                        <label class="form-control" for="african">yes</label>
                        <input type="radio" id="african_no" class="check_no" name="likes_african" value="no">
                        <label class="form-control" for="african">no</label>
                    </div>
                </div>
                <div>
                    <p>European food :</p>
                    <div class="radio-container">
                        <input type="radio" id="european_yes" class="check_yes" name="likes_european" value="yes">
                        <label class="form-control" for="european">yes</label>
                        <input type="radio" id="european_no" class="check_no" name="likes_european" value="no">
                        <label class="form-control" for="european">no</label>
                    </div>
                </div>
                <div>
                    <p>Oceanic food :</p>
                    <div class="radio-container">
                        <input type="radio" id="oceanic_yes" class="check_yes" name="likes_oceanic" value="yes">
                        <label class="form-control" for="oceanic">yes</label>
                        <input type="radio" id="oceanic_no" class="check_no" name="likes_oceanic" value="no">
                        <label class="form-control" for="oceanic">no</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="allergies">
            <h3>Your allergies :</h3>
            <div class="allergies-container">
                <div>
                    <p>Milk :</p>
                    <div class="radio-container">
                        <input type="radio" id="milk_yes" class="check_yes" name="allergy_milk" value="yes">
                        <label class="form-control" for="milk">yes</label>
                        <input type="radio" id="milk_no" class="check_no" name="allergy_milk" value="no">
                        <label class="form-control" for="milk">no</label>
                    </div>
                </div>
                <div>
                    <p>Tree Nuts :</p>
                    <div class="radio-container">
                        <input type="radio" id="treenuts_yes" class="check_yes" name="allergy_treenuts" value="yes">
                        <label class="form-control" for="treenuts">yes</label>
                        <input type="radio" id="treenuts_no" class="check_no" name="allergy_treenuts" value="no">
                        <label class="form-control" for="treenuts">no</label>
                    </div>
                </div>
                <div>
                    <p>Eggs :</p>
                    <div class="radio-container">
                        <input type="radio" id="eggs_yes" class="check_yes" name="allergy_eggs" value="yes">
                        <label class="form-control" for="eggs">yes</label>
                        <input type="radio" id="eggs_no" class="check_no" name="allergy_eggs" value="no">
                        <label class="form-control" for="eggs">no</label>
                    </div>
                </div>
                <div>
                    <p>Peanuts :</p>
                    <div class="radio-container">
                        <input type="radio" id="peanuts_yes" class="check_yes" name="allergy_peanuts" value="yes">
                        <label class="form-control" for="peanuts">yes</label>
                        <input type="radio" id="peanuts_no" class="check_no" name="allergy_peanuts" value="no">
                        <label class="form-control" for="peanuts">no</label>
                    </div>
                </div>
                <div>
                    <p>Fish :</p>
                    <div class="radio-container">
                        <input type="radio" id="fish_yes" class="check_yes" name="allergy_fish" value="yes">
                        <label class="form-control" for="fish">yes</label>
                        <input type="radio" id="fish_no" class="check_no" name="allergy_fish" value="no">
                        <label class="form-control" for="fish">no</label>
                    </div>
                </div>
                <div>
                    <p>Shellfish :</p>
                    <div class="radio-container">
                        <input type="radio" id="shellfish_yes" class="check_yes" name="allergy_shellfish" value="yes">
                        <label class="form-control" for="shellfish">yes</label>
                        <input type="radio" id="shellfish_no" class="check_no" name="allergy_shellfish" value="no">
                        <label class="form-control" for="shellfish">no</label>
                    </div>
                </div>
                <div>
                    <p>Wheat :</p>
                    <div class="radio-container">
                        <input type="radio" id="wheat_yes" class="check_yes" name="allergy_wheat" value="yes">
                        <label class="form-control" for="wheat">yes</label>
                        <input type="radio" id="wheat_no" class="check_no" name="allergy_wheat" value="no">
                        <label class="form-control" for="wheat">no</label>
                    </div>
                </div>
                <div>
                    <p>Soybeans :</p>
                    <div class="radio-container">
                        <input type="radio" id="soybeans_yes" class="check_yes" name="allergy_soybeans" value="yes">
                        <label class="form-control" for="soybeans">yes</label>
                        <input type="radio" id="soybeans_no" class="check_no" name="allergy_soybeans" value="no">
                        <label class="form-control" for="soybeans">no</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Save">
</form>

<script>
    // keep the radio button checked
    document.getElementById('asian_' + "{{preferences.likes_asian}}").checked = true
    document.getElementById('north_american_' + "{{preferences.likes_north_american}}").checked = true
    document.getElementById('south_american_' + "{{preferences.likes_south_american}}").checked = true
    document.getElementById('african_' + "{{preferences.likes_african}}").checked = true
    document.getElementById('european_' + "{{preferences.likes_european}}").checked = true
    document.getElementById('oceanic_' + "{{preferences.likes_oceanic}}").checked = true
    document.getElementById('milk_' + "{{preferences.allergy_milk}}").checked = true
    document.getElementById('treenuts_' + "{{preferences.allergy_treenuts}}").checked = true
    document.getElementById('eggs_' + "{{preferences.allergy_eggs}}").checked = true
    document.getElementById('peanuts_' + "{{preferences.allergy_peanuts}}").checked = true
    document.getElementById('fish_' + "{{preferences.allergy_fish}}").checked = true
    document.getElementById('shellfish_' + "{{preferences.allergy_shellfish}}").checked = true
    document.getElementById('wheat_' + "{{preferences.allergy_wheat}}").checked = true
    document.getElementById('soybeans_' + "{{preferences.allergy_soybeans}}").checked = true
</script>